; put this in ~/.emacs

(custom-set-variables
  ;; custom-set-variables was added by Custom.
  ;; If you edit it by hand, you could mess it up, so be careful.
  ;; Your init file should contain only one such instance.
  ;; If there is more than one, they won't work right.
 '(backup-directory-alist (quote (("" . "~/bakup"))))
 '(case-fold-search t)
 '(column-number-mode t)
 '(compile-command "cd ~/fos/src && make all")
 '(current-language-environment "UTF-8")
 '(display-battery-mode t)
 '(fringe-mode 0 nil (fringe))
 '(global-font-lock-mode t nil (font-lock))
 '(make-backup-files t)
 '(recentf-max-saved-items 30)
 '(recentf-mode t nil (recentf))
 '(save-place t nil (saveplace))
 '(show-paren-mode t nil (paren))
 '(size-indication-mode t)
 '(tool-bar-mode nil)
 '(case-fold-search t)
 '(ispell-local-dictionary "ru-yeyo")
 '(semantic-default-c-path (quote ("/usr/include" "/usr/X11R6/include" "/usr/local/include")))
 '(text-mode-hook (quote (turn-on-auto-fill text-mode-hook-identify)))
 '(transient-mark-mode t)
 '(user-full-name "Oleg Fedorov")
 '(user-mail-address "o.s.fedorov@gmail.com")
 '(transient-mark-mode t))

(custom-set-faces
  ;; custom-set-faces was added by Custom.
  ;; If you edit it by hand, you could mess it up, so be careful.
  ;; Your init file should contain only one such instance.
  ;; If there is more than one, they won't work right.
 '(scroll-bar ((t (:background "black")))))

(set-language-environment 'UTF-8)
(set-terminal-coding-system 'utf-8)
(set-keyboard-coding-system 'utf-8)
(prefer-coding-system 'utf-8)
(setq default-input-method 'cyrillic-jcuken)
(set-default-font "-*-*-medium-r-*-*-13-*-*-*-*-*-iso8859-5")
(set-clipboard-coding-system 'utf-8)


(global-set-key (kbd "RET") 'newline-and-indent)
(setq display-time-24hr-format t)
;;(setq ispell-dictionary "russian")

(setq scroll-conservatively 1000)

(setq default-indicate-empty-lines t)
(add-hook 'minibuffer-setup-hook
'(lambda ()
(define-key minibuffer-local-map "\t" 'comint-dynamic-complete)))


(setq default-justification "full")
(column-number-mode 1)
;(display-time)

;(global-set-key "\M-s" 'display-time-mode)
;(global-set-key "\M-\C-s" 'shell)

;;my keywords
(font-lock-add-keywords 'c-mode
'(("\\<\\(FIXME\\):" 1 font-lock-warning-face prepend)
("\\<\\(and\\|or\\|not\\)\\>" . font-lock-keyword-face)))
(font-lock-add-keywords 'c-mode
'(("\\<\\(TODO\\):" 1 font-lock-warning-face prepend)
("\\<\\(and\\|or\\|not\\)\\>" . font-lock-keyword-face)))
;;my color theme
(set-background-color "black")
(set-foreground-color "lightgray")
(set-face-foreground 'font-lock-comment-face "#067798")
(set-face-foreground 'font-lock-type-face "#ff9d03")
(set-face-foreground 'font-lock-string-face "#02c114")
(set-face-foreground 'font-lock-function-name-face "#fb0320")
(set-face-foreground 'font-lock-keyword-face "#fbf803")
(set-face-foreground 'font-lock-variable-name-face "#8e8eff")
(set-face-foreground 'font-lock-constant-face "#3ca000")

;;my keys
;(global-set-key [f1] 'goto-line)
(global-set-key [f2] 'save-buffer)
(global-set-key [f3] 'write-file)
(global-set-key [f4] 'find-file)
(global-set-key [f5] 'make-frame-command)
(global-set-key [f6] 'delete-frame)
(global-set-key [f7] 'other-window)
(global-set-key (quote [f8]) (quote bury-buffer))
(global-set-key [f9] 'undo)
(global-set-key [f10] 'list-buffers)
(global-set-key [f11] 'compile)
;(global-set-key [f12] 'ispell-buffer)
(global-set-key "\C-x\C-m" 'execute-extended-command)
;(global-set-key "\C-w" 'backward-kill-word)

; no show intro
(setq inhibit-startup-message t)


(put 'upcase-region 'disabled nil)
(setq scroll-step 1)
(set-mouse-color "White")
(set-cursor-color "White")
;(prefer-coding-system 'koi8-r-unix)
;(prefer-coding-system 'cp866)
;(prefer-coding-system 'windows-1251-dos)
(prefer-coding-system 'utf-8-unix)
(setq x-select-request-type '(UTF8_STRING COMPOUND_TEXT TEXT STRING))
(define-coding-system-alias 'windows-1251 'cp1251)


;;(fset 'yes-or-no-p 'y-or-n-p)
;;    (define-key query-replace-map [return] 'act)
;;    (define-key query-replace-map [?\C-m] 'act)

;;(global-set-key [f4] 'hexl-mode)

;(global-set-key [f3] 'compile)

;;(global-set-key [C-f3] 'next-error)
;;(global-set-key [C-f4] 'previous-error)

(defun fos-install-and-run ()
  "Run Qemu"
  (interactive)
  (shell-command "cd ~/fos/src && make install && ./scripts/qemu &")
)

(defun insert-fos-changelog ()
  "Insert Build & Version into Changelog"
  (interactive)
  (insert (substring (current-time-string) 0))
  (insert "  Oleg S Fedorov <o.s.fedorov@gmail.com>\n")
  (insert "Build ")
  (insert (shell-command-to-string "cat ~/fos/src/BUILD"))
  (insert " (Version ")
  (insert (shell-command-to-string "cat ~/fos/src/VERSION"))
  (insert ")\n	-\n\n")
)

(defun insert-time ()
  "Insert time"
  (interactive)
  (insert "(")
  (insert (substring (current-time-string) 0))
  (insert ") ")
)

(global-set-key [C-f11] 'insert-time)
(global-set-key [f12] 'insert-fos-changelog)
(global-set-key [f1] 'fos-install-and-run)

(tool-bar-mode -1) ;; выключим тулбар

;(add-to-list 'load-path "~/emacs/color-theme-6.6.0")
;(add-to-list 'load-path "/usr/local/share/emacs/22.0.97/lisp/emacs-jabber")

;(require 'color-theme)
;(color-theme-initialize)
;(color-theme-subtle-hacker)
;(color-theme-gray30)

;;(setq auto-mode-alist (cons '("/usr/src/linux.*/.*\\.[ch]$" . linux-c-mode)
;;                       auto-mode-alist))


;(custom-set-faces
  ;; custom-set-faces was added by Custom.
  ;; If you edit it by hand, you could mess it up, so be careful.
  ;; Your init file should contain only one such instance.
  ;; If there is more than one, they won't work right.
; )

;(require 'jabber)
;(mouse-wheel-mode)
